<div class="mat-app-background basic-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Stats Screen</h1>
    </div>
  </div>
<div class="row" style="margin: 20px;">
  <div class="col-md-3 text-center">
    <span><b>ScoreCard</b></span>
    <app-score-card [cardContent]="scoreCardContent"></app-score-card>
  </div>
  <div class="col-md-6">
    <div class="row text-center" style="display: flex; align-items: center;justify-content: center">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">First Half</mat-button-toggle>
          <mat-button-toggle value="underline">Second Half</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="row" style="margin: 10px;">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Period Count">
          </mat-form-field>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <span><b>Fouls</b></span>
    <app-score-card [cardContent]="foulsContent"></app-score-card>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-6">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="text-transform: capitalize; text-align: center">
            <b>{{teamOne ? teamOne.team_name : 'Team One'}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-team-one [cardDetails]="cardQuestions" [periodCount]="periodCount"
          [referreeData]="referredProfileData" [teamDetails]="matchDetails"
          (updateStatsData)="updateStatsData($event)"></app-team-one>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-6">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="text-transform: capitalize">
            <b>{{teamTwo ? teamTwo.team_name : 'Team Two'}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <app-team-two [cardDetails]="cardQuestions" [periodCount]="periodCount"
          [referreeData]="referredProfileData" [teamDetails]="matchDetails"
          (updateStatsData)="updateStatsData($event)"></app-team-two>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
</div>
</div>