<div class="row">
  <div class="col-md-12 text-center">
    <h1>Stats Screen</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Team-One">
        <ng-template ngbPanelContent>
          <app-team-one [cardDetails]="cardQuestions"></app-team-one>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-md-6">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">
        <ngb-panel title="Team-Two">
          <ng-template ngbPanelContent>
            <app-team-two [cardDetails]="cardQuestions"></app-team-two>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
</div>