<div class="container" id="mydiv">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>
          <mat-toolbar>Login Using OTP</mat-toolbar>
        </mat-card-title>
        <mat-card-content>
          <div class="example-container">
            <mat-form-field hintLabel="Max 8 characters">
                <input matInput #input maxlength="10" placeholder="Enter OTP" [(ngModel)]="enteredOtp">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4" style="display: flex;align-items: center;justify-content: center">
                  <button mat-raised-button (click)="getMatchData()">
                    Login
                  </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>