<h1 mat-dialog-title class="headingStyle"
  [ngStyle]="{'background-color': modalTitleColor}">
  {{modalTitle}}
</h1>
<div mat-dialog-content>
    <form [formGroup]="modalContent">
        <div class="col-md-12" style="padding: 5px;" *ngFor="let question of modalFormData.controls; let j = index">
            <ng-container class="row" [formGroup]="question">
              <div *ngIf="question.get('formType').value === 'icon'">
                  <div class="row">
                    <b>{{question.get('question').value}}</b>
                  </div>
                  <ng-container *ngIf="question.get('currentTeam').value === true || selectedReboundValue === 'offensive'">
                    <app-player-number [containerID]="1" [questionId]="question.get('questionId').value"
                      [playerInField]="selectedTeamPlayerInField" (playerSelected)="changeSelectedPlayer($event)"></app-player-number>
                  </ng-container>
                  <ng-container *ngIf="question.get('currentTeam').value === false">
                    <app-player-number *ngIf="selectedReboundValue === 'defensive' || selectedReboundValue === 'none'" [containerID]="2"
                      [playerInField]="oppositionTeamPlayerInField" (playerSelected)="changeSelectedPlayer($event)"></app-player-number>
                  </ng-container>
                  <ng-container>

                  </ng-container>
              </div>
              <div *ngIf="question.get('formType').value === 'dropdown'">
                  <!-- <div class="row">
                      <b>{{question.get('question').value}}</b>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field style="width: 100%" >
                        <mat-select placeholder="{{question.get('question').value}}" (selectionChange)="changeDisplayedPlayers($event.value)">
                          <mat-option value="defensive">Defensive</mat-option>
                          <mat-option value="offensive">Offensive</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>  
              </div>
              <div *ngIf="question.get('formType').value === 'checkbox'">
                <div class="row">
                  <!-- <b style="margin-right: 5px;">{{question.get('question').value}}</b> -->
                  <!-- <input type="checkbox" value=""> -->
                  <mat-checkbox (change)="changeIsAssistValue($event)"><b>{{question.get('question').value}}</b></mat-checkbox>
                </div>
              </div>
              <div *ngIf="question.get('formType').value === 'shot'">
                <app-shot-map></app-shot-map>
              </div>
             
            </ng-container>
          </div>
    </form>
</div>
<div class="row actionStyle" mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onUpdateClick()">Update</button>
</div>
