<form [formGroup]="cardForms">
  <div class="row">
    <ng-container *ngFor="let card of formData.controls; let i = index">
      <ng-container [formGroup]="card">
        <div class="col-md-2 col-md-offset-12 cardNormalStyle" (click)="open(content, card)">
          <div class="row">
            <div class="col-md-12 text-center">
                <img src="{{card.get('icon').value}}" alt="image" height=50 width=50/>
            </div>
            <div class="col-md-12 text-center">
              {{card.get('title').value}}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="modalContent">
          <div class="col-md-12" style="padding: 5px;" *ngFor="let question of modalFormData.controls; let j = index">
              <ng-container class="row" [formGroup]="question">
                <div *ngIf="question.get('formType').value === 'icon'">
                    <div class="row">
                      <b>{{question.get('question').value}}</b>
                    </div>
                    <app-player-number></app-player-number>
                </div>
                <div *ngIf="question.get('formType').value === 'textbox'">
                    <div class="row">
                        <b>{{question.get('question').value}}</b>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" id="usr">
                    </div>  
                </div>
                <div *ngIf="question.get('formType').value === 'checkbox'">
                  <div class="row">
                    <b style="margin-right: 5px;">{{question.get('question').value}}</b>
                    <input type="checkbox" value="">
                  </div>
                </div>
                <div *ngIf="question.get('formType').value === 'shot'">
                  <app-shot-map></app-shot-map>
                </div>
               
              </ng-container>
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Update</button>
    </div>
  </ng-template>