<ng-container>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Timeline</h3>
    </div>
  </div>
  <hr />
  <ng-container *ngIf="!showError">
    <mat-card *ngFor="let timelineData of formattedTimeLineData" style="margin: 10px;">
      <mat-card-title>
        {{timelineData.time}}
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8">
            <span class="item-style"><b>Event: </b>{{timelineData.event}} </span>
            <span class="item-style"><b>Team: </b>{{timelineData.teamName}} </span>
            <span class="item-style"><b>Player: </b>{{timelineData.playerName}}</span>
          </div>
          <div class="col-md-4">
            <img src="{{timelineData.eventIcon}}" height="50" width="50" />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="showError">
    <mat-card>
      <mat-card-content class="text-center">
        <b>Timeline data not available yet.</b>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>